---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Merriweather', serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #171717;
$background-color: white;
$brand-color:      #f7f7f7;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html,body {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

// Custom
code {
  font-size: 18px;
}
pre, code {
  background-color: #f7f7f7;
}

html, body {
  min-height: 100%;
  font-family: $base-font-family;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: $text-color;
  &:hover,&:visited,&:active {
    color: $text-color;
    text-decoration: none;
  }
}


header {
  background-color: #0034FF;
  width: 100%;
  display: block;
  color: white !important;
  height: 140px;
  font-size: 13px;
  .left, .right {
    display: flex;
    align-items: center; 
    height: 140px;
  }
  .left {
    float: left;
    margin-left: 40px;
  }
  .right {
    float: right;
    margin-right: 40px;
  }

  img.logo {
    margin: 0 40px 20px 0px;
  }
  h2 {
    margin:0;
    width: 450px;
    font-size: 13px;
    font-weight: 300;
  }
  a.button {
    color: white;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 5px 7px;
    &:hover,&:visited,&:active {
      color: white;
      border: 1px solid white;
    }
  }  
}

.grid {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  .link {
    width: calc((100% - 40px)/4);
    .content {
      margin: 20px;
      padding: 10px;
      background-color: red;
    }
  }
}

// Media queries
@include media-query($on-palm) {
    header h2 {
      display: none;
    }
    .grid {
      padding: 0;
      .link {
        width: 100%;
        margin: 0;
        padding: 0;
        .content {
        }

      }
    }
}

