---
layout: default
---
<div class="filters">
  <h3>Categories</h3>
  <ul>
    <li data-category="getting-started">Getting started</li><br/>
    <li data-category="interviews">Interviews</li><br/>
    <li data-category="job-stories">Job Stories</li><br/>
    <li data-category="examples">Examples</li>
  </ul>
</div>
<div class="links grid">
  {% for post in site.posts %}
  <article class="link visible {{ post.type }} {% for cat in post.categories%}{{ cat }} {% endfor %}">
    <a href="{{ post.link }}" target="_blank">
      <div class="content">
        <p class="type">{{ post.type }} {% if post.type == "video" %}<i class="fa fa-video-camera fa-small" aria-hidden="true"></i>{% endif %}</p>
        <h1>{{ post.title | escape }}</h1>
        <p class="description">{{ post.description }}</p>
        {% if post.img %}
        <div class="img" style="background-image: url('img/posts/{{post.img}}')"></div>
        {% endif %}
        {% if post.author %}
          <small>by <i>{{ post.author }}</i></small>
        {% endif %}
      </div>
    </a>
  </article>
  {% endfor %} 
</div>
  <div style="clear:both;"></div>

<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="vendor/masonry/dist/masonry.pkgd.js"></script>
<script type="text/javascript">
  var $grid = $('.grid').masonry({
    // options
    itemSelector: '.link.visible',
  });  
  $('div.filters li').click(function(e){
    // Toggle selected state
    $(e.target).toggleClass("selected");
    
    // Hide all elements
    $('article.link').hide().removeClass('visible');

    // Show selected elements
    var selected = $('div.filters li.selected');

    if(selected.length) {
      $('div.filters li.selected').each(function(){
        var cat = $(this).attr('data-category');
        $('article.'+cat).show().addClass('visible');
      });
    } else {
      $('article').show().addClass('visible');
    }

    // Re-build grid
    $grid.masonry('reloadItems');
    $grid.masonry('layout');

  });
</script>
