<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

	<header>	
		<div class="left">
			<a href="#" title="Jobs-to-be-Done XYZ">
				<img class="logo" src="img/jtbdxyz.svg" /> 
			</a>
			<h2>
				A curated collection of resources about the Jobs-to-be-done framework with a focus on digital products.
			</h2>
		</div>
		<div class="right">
			<a class="share button" href="http://twitter.com">Share this &nbsp;&nbsp;<i class="fa fa-twitter fa-lg" aria-hidden="true"></i><a/>
		</div>
	</header>

  <body>
    {{ content }}

    {% include footer.html %}

  </body>

</html>